{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Δεν βρέθηκε!</h1>
        <h5 class="header col s12 light grey-text">Η σελίδα που αναζητάτε δεν είναι εδώ.</h5>
        <br>
        <a href="http://projectpap-staysafe-staff.herokuapp.com" class="btn waves-effect my-button">Πίσω στην αρχική</a>
    </div>
</div>

</main>

{% endblock %}
